.resume {
  height: 80vh;
  width: 100vw;
}
.education,
.projects {
  background-color: antiquewhite;
  opacity: 80%;
  padding: 2em;
  margin: 2em;
}
.title h1 {
  text-align: left;
  text-transform: uppercase;
}
