* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  min-width: 100vh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100vh;
}
.nav_links {
  margin-top: 8vh;
  list-style: none;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #f89501;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
